#container
{
    display: flex;
    width:100%;  
    gap: 15px;    
    background-color:azure;  
}
@media print{
    body*
    {
        visibility: hidden;

    }
    @page{
        margin: 0;
    }
    #form{
        visibility: hidden;
        width: 0%;
    }
    #resume
    {
        visibility: visible;
        width: 100%;
    }
    #form
    {
        display: none;
    }
    
    footer{
        display: none !important;
    }
}
footer
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p,h4
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0%;
}
#preview-name
{
    font-size: 2rem;
}
#preview-skills, #preview-language, #preview-certificate, #preview-edu, #preview-objectives
{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea{
    resize: none;
}
input, textarea, pre
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    margin-top: 0;
    border: none;
    padding:10px 10px;
    border-radius: 5px;
    user-select: none;
    scale: none;
    max-width: fit-content;
    width:300px;
}
hr{
    margin: 0;
    border: 1.9px solid black;
}
#header
{
    display: flex;
    justify-content: space-between;
}
pre
{
    padding: 0% 1.5%;
}
#preview-photo{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
}
#form
{
    background-color:wheat;
    padding: 12px 12px;
    width:500px;
    border-radius: 15px;
    box-shadow: black 4px 6px;
}
#header-content
{
    width:300px;
}
#resume{
    width:100%;
    border-radius: 5px;
    padding: 25px 25px;
    height:100%;
    max-height: 100%;
    background-color: white;
}

.llist{
    list-style: none;    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.llist li{
    margin: 10px 12px;
}
.llist button{
    background:none;
    color: red;
    font-weight: bold;
    border: none;
    margin-left:0%;
}
p{
    margin: 1%;
}
hr{
    width: 100%;
    text-align: center;

}
.add{
    font-size: medium;
    background-color:darkblue;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5%;
    height:34px;
    box-shadow: black 2px 3px;
    margin-left: 14px;
}
.add:hover{
    background-color: white;
    color:darkblue;
}